table.dataview {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	border-collapse: collapse;
	border-spacing: 0;
}

table.dataview td, th {
	border: 1px solid;
	height: 30px;
	transition: all 0.3s;
}

table.dataview th {
	background: purple;
	font-weight: bold;
}

table.dataview td {
	background: #FAFAFA;
	text-align: left;
}

table.dataview tr:nth-child(even) td {
	background: #F1F1F1;
}

table.dataview tr:nth-child(odd) td {
	background: #FEFEFE;
}

table.dataview tr td:hover {
	background: #666;
	color: #FFF;
}

a.menu {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a.menu:hover {
    background-color: fuchsia;
}

.headers a {
	color: white;
}

table.dataview a:link {
    text-decoration: none;
}

table.dataview a:visited {
    text-decoration: none;
}

table.dataview a:hover {
    text-decoration: underline;
}

table.dataview a:active {
    text-decoration: underline;
}